---
import "../styles/global.css";
import SiteHeader from "../components/SiteHeader.astro";

const { title = "Karina Yakubisin", description = "Theatre portfolio" } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>

  <body class="page">
    <div class="container py-12">
      <SiteHeader />
      <main class="pt-10">
        <slot />
      </main>
    </div>
  </body>
</html>
